*{
    padding: 10px;
    margin: 0px;
    background-color: lightgoldenrodyellow;
}

h2{
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.library{
    display: flex;
    justify-content: space-evenly;
}

.books img{
    /* border: 2px solid red; */
    border-radius: 50px;
}

.books h1{
    text-align: center;
}

.books .title{
    font-size: 22px;
    color: maroon;
}

.books .author{
    text-decoration: underline;
}
